/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* .fl-content-slider .fl-slide{
	visibility: visible;
}
.bx-loading{
	display: none !important;
} */
.top-bar-loc .phone {
  margin-top: -5px;
}
.display_none {
  display: none;
}
div[data-post-id="2"] > .fl-row:first-child {
  display: none;
}
.fl-slide-content-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
.fl-slide .fl-slide-content {
  position: absolute;
  top: 32%;
  left: 18%;
}
.fl-slide-content h2 span {
  font-size: 40px !important;
}

ul#menu-about-us li.financing-btn a {
  padding: 10px !important;
  border: 1.4px solid rgba(113, 197, 242, 0.93);
  border-radius: 30px;
  background: rgba(113, 197, 242, 0.93);
  webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

ul#menu-about-us li.financing-btn a:hover {
  background: transparent;
}

.our-location {
  padding-bottom: 20px !important;
}

div#responsive-menu-additional-content .phone a span:before {
  color: #428bca !important;
}

ul#menu-about-us li a {
  padding: 5px !important;
}

.product-plp-grid .plp_box_btn {
  border: 1px solid #808080 !important;
}

.product-plp-grid .plp_box_btn:hover {
  background-color: #fff !important;
  border: 1px solid #808080 !important;
}

.has_street.has_city.has_state.has_zip.ginput_container_address label:after {
  content: "*";
  color: #790000;
  margin-left: 4px;
}

.header_phone .phone a span:before,
#responsive-menu-additional-content .phone a span:before {
  content: "\f095" !important;
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  margin-right: 4px !important;
  color: #fff !important;
  vertical-align: middle;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #2ca0d2;
  padding: 20px;
}

.searchIcon .ua-icon-icon-111-search2 {
  cursor: pointer;
}

.dir_btn a {
  background-color: #2094c6 !important;
  color: #fff !important;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
}

.dir_btn a span {
  color: #fff !important;
}

.dir_btn a:hover {
  background-color: #192424 !important;
  color: #fff !important;
}

.storename .address p {
  margin-bottom: 0px !important;
}

.store_hrs .store-opening-hrs li {
  list-style: none !important;
}

.store_hrs .store-opening-hrs li {
  position: relative !important;
}

.store_hrs .store-opening-hrs li span {
  position: absolute !important;
  right: 0;
}

.text_phone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fl-post-image-beside,
.fl-post-image-beside img {
  width: 100% !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

a {
  text-decoration: none !important;
}

.btn-grey a.getcoupon-btn {
  background-color: #eee !important;
}

.fl-button {
  background-color: #eee;
}

/* @media (min-width:1300px){
    .top-bar-height .fl-row-content-wrap{
        margin-top: -137px;
    }
}*/

.button-wrapper-default a {
  text-transform: uppercase !important;
}

/* header ~ #fl-main-content {
  margin-top: 200px;
} */

.single header ~ #fl-main-content,
.blog header ~ #fl-main-content {
  margin-top: 0px;
}

/* body.home header ~ #fl-main-content {
  margin-top: 200px;
} */

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #2094c6;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #71c5f2 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #71c5f2 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #71c5f2 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #71c5f2 !important;
}

@media (min-width: 1100px) and (max-width: 1400px) {
  .top-bar-link {
    width: 16% !important;
  }
  .top-bar-loc {
    width: 36.63%;
  }
  .top-bar-services {
    width: 46%;
  }
}

/*body.page-id-906341 header ~ #fl-main-content{
    margin-top: 203px;
}*/

.topbar-r .fl-row-content-wrap {
  background: #2094c6 !important;
}

body .gform_wrapper .ginput_container_time {
  width: 100% !important;
  max-width: 50px !important;
}

body .gform_wrapper .gfield_time_ampm {
  width: 100% !important;
  max-width: 80px !important;
}

body .gform_wrapper .gfield_time_ampm select {
  max-width: 70px !important;
}

body .gform_wrapper .ginput_container_time input {
  width: 100% !important;
  padding: 15px 10px !important;
}

.gform_wrapper ul.gform_fields .ginput_container_time select {
  width: 100px !important;
  max-width: 100% !important;
}

.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label {
  font-size: initial !important;
}

header .fl-module-uabb-photo .uabb-photo-content img {
  margin-top: -4px;
}

.laminate_catalog-template-default .laminate_catalog .product-box h1 {
  font-size: 40px;
}

.Desk_menu .uabb-has-submenu .uabb-has-submenu .sub-menu .sub-menu .sub-menu {
  border: 1px solid #fff;
  margin-top: 10px;
}

.product-detail-layout-default
  .product-swatch
  .product-swatch-inner
  .button-wrapper-default
  a {
  border: 1px solid #000;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .logo-wrap ~ .fl-visible-desktop {
    display: none;
  }
  .uabb-infobox-content .uabb-infobox-title-wrap h4 {
    font-size: 15px;
  }
  .product-box .col-md-6 h1.fl-post-title {
    font-size: 40px;
  }
  .uabb-infobox-content .uabb-infobox-text-wrap .uabb-infobox-text {
    min-height: 64px;
  }
}

@media (max-width: 1024px) {
	#rmp_menu_trigger-1128466{
		top: 44px !important;
	}
  #responsive-menu-container #responsive-menu-search-box,
  #responsive-menu-container #responsive-menu-additional-content,
  #responsive-menu-container #responsive-menu-title {
    padding: 10px 5% !important;
  }
  .top-bar-loc,
  .top-bar-services,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  .logo-wrap {
    max-width: 100% !important;
  }
  header .message {
    text-align: center;
  }
  .main-header .fl-col-group-equal-height div.fl-col-small:last-child {
    width: 60%;
  }
  .main-header
    .fl-col-group-equal-height
    div.fl-col-small
    ~ .fl-visible-desktop,
  .main-header .fl-col-group-equal-height div.fl-col-small ~ .fl-col-small {
    display: none;
  }
  button#responsive-menu-button {
    top: 110px !important;
  }
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
}

@media (max-width: 768px) {
	footer nav .fl-menu-horizontal {
		display: block !important; 
	}
  .fl-slide.fl-slide-0 .fl-slide-content {
    position: absolute;
    top: 42%;
    left: 21%;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 10px !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide.fl-slide-1
    .fl-slide-content {
    padding: 95px 30px !important;
  }
  #menu-copyright-bar-menu {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    -webkit-display: flex !important;
    -webkit-justify-content: center !important;
    -moz-display: flex !important;
    -moz-justify-content: center !important;
    -o-display: flex !important;
    -o-justify-content: center !important;
  }
/*   body.home header ~ #fl-main-content,
  header ~ #fl-main-content {
    margin-top: 125px;
  } */
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .fl-node-5f4de0c5699f0 .fl-slide-1 .fl-slide-content {
    background-color: transparent !important;
  }
  /* 	.fl-slide-1 .fl-slide-foreground{
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		bottom: 0;
	} */
  button#responsive-menu-button {
    top: 35px !important;
  }
  .fl-row-custom-height .fl-row-content-wrap {
    min-height: 0 !important;
  }
  header .fl-module-uabb-photo .uabb-photo-content img {
    padding-left: 20px;
  }
  .blog header ~ #fl-main-content,
  body.search-results header ~ #fl-main-content,
  body.search.search-results.fl-search-active header ~ #fl-main-content {
    margin-top: 0px !important;
  }
  /* button#responsive-menu-button{
		top: 120px !important;
	} */
  .store-opening-hrs {
    padding-left: 0px;
  }
  .fl-page-bar-row.row > div:first-child {
    width: 100%;
  }
  /* .fl-page-bar-row.row > div:nth-child(2){
        width: 67%;
    } */
  .main-header .fl-row-content-wrap .fl-col-group {
    display: flex;
    align-items: center;
  }
  footer #menu-flooring-menu {
    text-align: center;
  }
  footer #menu-flooring-menu li,
  footer #menu-footer-menu li {
    padding-top: 15px;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  /* Slider height issue on mobile closed */
}

@media (max-width: 767px) {
  .fl-page-bar-row.row > div:first-child,
  .fl-page-bar-row.row > div:nth-child(2) {
    width: 100%;
    text-align: center;
  }
  /* button#responsive-menu-button{
        top: 155px !important;
    } */
  .header_phone,
  .Desk_menu {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .uabb-masonary .uabb-masonary-item {
    width: 100% !important;
  }
  #menu-header-bar > li {
    padding: 0 5px !important;
  }
  .fl-slide .fl-slide-content,
  .fl-slide.fl-slide-0 .fl-slide-content {
    left: 0%;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide.fl-slide-1
    .fl-slide-content {
    padding: 0 !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide.fl-slide-0
    .fl-slide-content {
    margin: -40px 0 0 0 !important;
  }
}

@media (max-width: 320px) {
  header .fl-module-uabb-photo .uabb-photo-content img {
    width: 240px;
  }
	#rmp_menu_trigger-1128466{
		top: 29px !important;
	}
}

#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn {
  position: absolute !important;
  right: 10px !important;
}
.swell-chat-fixed {
  z-index: 9999 !important;
}
.gdpr_lightbox,
aside#moove_gdpr_cookie_info_bar {
  z-index: +9999999991 !important;
}
@media only screen and (max-width: 992px) {
  aside#moove_gdpr_cookie_info_bar {
    position: fixed;
    max-width: 80%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -50%);
    z-index: +9999999991;
    bottom: auto;
    content-visibility: inherit;
  }
  #moove_gdpr_cookie_info_bar
    .moove-gdpr-info-bar-container
    .moove-gdpr-info-bar-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice {
    text-align: center;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p {
    margin-bottom: 10px !important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p:last-child {
    margin-bottom: 0 !important;
  }
  #moove_gdpr_cookie_info_bar
    .moove-gdpr-info-bar-container
    .moove-gdpr-info-bar-content
    .moove-gdpr-button-holder {
    padding: 10px 0;
  }
  #moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-close-btn {
    top: -20px !important;
    right: -20px !important;
    background: #fff;
    opacity: 1 !important;
    color: #000 !important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-button-holder {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  #moove_gdpr_cookie_modal
    .moove-gdpr-modal-content
    .moove-gdpr-modal-left-content {
    padding: 0 !important;
  }
  #moove_gdpr_cookie_modal
    .moove-gdpr-modal-content
    .moove-gdpr-modal-right-content {
    padding-top: 30px !important;
  }
}
.moove-gdpr-branding-cnt {
  display: none;
}
.moove-gdpr-company-logo-holder {
  display: none;
}
